@model Hotel_Reservation_System.Models.Hotel

@{
    ViewBag.Title = "Hotel Details";
}

<link href="~/Content/css-folder/hotel/details-h.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="hotel-details-container">
    <div class="hotel-image-container">
        <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name" class="hotel-image" />
    </div>
    <div class="maximum-image">
        <p>
            Don't miss out on special offers from
            <img src="~/Content/images/icon/maximum.svg" alt="maximum" class="image-style">!
        </p>
    </div>
    <hr />
    <div class="hotel-info">
        <div class="row">
            <div class="col-md-6">
                <p class="hotel-name">
                    @Html.DisplayFor(model => model.Name)
                </p>
            </div>
            <div class="col-md-6">
                <p class="hotel-rating">
                    @for (var i = 0; i < Model.Rating; i++)
                    {
                        <span>★</span>
                    }
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="hotel-title">
                    @Html.DisplayFor(model => model.Title)
                </p>
            </div>
            <div class="col-md-6">
                <p class="hotel-available-rooms">
                    @Html.DisplayFor(model => model.AvailableRooms) Rooms
                </p>
            </div>
        </div>

        <div class="hotel-location">
            <p>📍@Html.DisplayFor(model => model.Location)</p>
        </div>

        <div class="hotel-description">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
</div>

<hr />

<div class="room-details-container">
    <h3>Available Rooms</h3>
    <div class="row">
        @foreach (var room in Model.Rooms)
        {
            <div class="col-md-4">
                <div class="card room-card">
                    <a href="@Url.Action("Details", "Room", new { id = room.Id })">
                        <img src="@Url.Content(room.ImageUrl)" alt="@room.Name" class="card-img-top" />
                    </a>

                    <div class="card-body">
                        <h5 class="card-title"><a href="@Url.Action("Details", "Room", new { id = room.Id })">@room.Name</a></h5>
                        <p class="card-type">@room.Type</p>
                        <div class="rooms-features">
                            <p class="card-parking"><i class="fa fa-car" aria-hidden="true"></i> Free self parking</p>
                            <p class="card-capacity"><i class="fa fa-users" aria-hidden="true"></i> Max. @room.Capacity guests</p>
                            <p class="card-wifi"><i class="fa fa-wifi" aria-hidden="true"></i> Free wireless internet</p>
                            <p class="card-meters"><i class="fa fa-expand" aria-hidden="true"></i> @room.SquareMeters m²</p>
                        </div>
                        <p class="price-info"><del>@(room.PricePerNight + 100) ₺</del> @room.PricePerNight ₺</p>
                        <p class="subtitle-info">
                            Price for 1 night <br />
                            Taxes and fees included.
                        </p>
                        @if (room.NumberOfRooms > 0)
                        {
                            @Html.ActionLink("Reserve Room", "Create", "Reservation", new { roomId = room.Id }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            <span class="no-availability">No Available</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
