@model Hotel_Reservation_System.Models.Hotel

@{
    ViewBag.Title = "Hotel Details";
}

<link href="~/Content/css-folder/hotel/details-ho.css" rel="stylesheet" type="text/css" />

<div class="hotel-details-container">
    <div class="hotel-image-container">
        <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name" class="hotel-image" />
    </div>
    <div class="maximum-image">
        <p>
            Don't miss out on special offers from
            <img src="~/Content/images/maximum.svg" alt="maximum" class="image-style">!
        </p>
    </div>
    <hr />
    <div class="hotel-info">
        <div class="row">
            <div class="col-md-6">
                <p class="hotel-name">
                    @Html.DisplayFor(model => model.Name)
                </p>
            </div>
            <div class="col-md-6">
                <p class="hotel-rating">
                    @for (var i = 0; i < Model.Rating; i++)
                    {
                        <span>★</span>
                    }
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <p class="hotel-title">
                    @Html.DisplayFor(model => model.Title)
                </p>
            </div>
            <div class="col-md-6">
                <p class="hotel-available-rooms">
                    @Html.DisplayFor(model => model.AvailableRooms) Rooms
                </p>
            </div>
        </div>

        <div class="hotel-location">
            <p>📍@Html.DisplayFor(model => model.Location)</p>
        </div>

        <div class="hotel-description">
            <p>@Html.DisplayFor(model => model.Description)</p>
        </div>
    </div>
</div>

<hr />

<div class="room-details-container">
    <h3>Available Rooms</h3>
    <div class="row">
        @foreach (var room in Model.Rooms)
        {
            <div class="col-md-4">
                <div class="card room-card">
                    <img src="@Url.Content(room.ImageUrl)" alt="@room.Name" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@room.Name</h5>
                        <p class="card-type">@room.Type</p>
                        <p class="card-capacity">✔ Room for @room.Capacity people</p>
                        <p class="price-info">@room.PricePerNight ₺</p>
                        <p class="subtitle-info">
                            Price for 1 night <br />
                            Taxes and fees included.
                        </p>
                        @if (room.Hotel.AvailableRooms > 0)
                        {
                            @Html.ActionLink("Reserve Room", "Create", "Reservation", new { roomId = room.Id }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            <span class="no-availability">No Available</span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
