@model Hotel_Reservation_System.Models.Hotel

@{
    ViewBag.Title = "Hotel Details";
}

<link href="~/Content/css-folder/hotel/details.css" rel="stylesheet" type="text/css" />


<div class="hotel-details">
    <div class="hotel-image">
        <img src="@Url.Content(Model.ImageUrl)" alt="@Model.Name" />
    </div>
    <div class="hotel-info">
        <dl class="row">
            <dt class="col-sm-2">Hotel :</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>

            <dt class="col-sm-2">Title :</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

            <dt class="col-sm-2">Features :</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-2">Location :</dt>
            <dd class="col-sm-10">📍@Html.DisplayFor(model => model.Location)</dd>

            <dt class="col-sm-2">Rating :</dt>
            <dd class="col-sm-10">★@Html.DisplayFor(model => model.Rating)</dd>

            <dt class="col-sm-2">Available Rooms :</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.AvailableRooms)</dd>

            <dt class="col-sm-2">Price Per Night :</dt>
            <dd class="col-sm-10">@Html.DisplayFor(model => model.PricePerNight) ₺</dd>
        </dl>
    </div>
</div>

<div class="hotel-actions">
    @if (Model.AvailableRooms > 0)
    {
        @Html.ActionLink("Make a Reservation", "Create", "Reservation", new { hotelId = Model.Id }, new { @class = "btn btn-primary" })
    }
    else
    {
        <span>No Available Rooms</span>
    }
    @Html.ActionLink("Hotel List", "Index", null, new { @class = "btn btn-secondary" })
</div>

