@model IEnumerable<Hotel_Reservation_System.Models.Hotel>

@{
    ViewBag.Title = "Hotels";
}
<link href="~/Content/css-folder/hotel/index.css" rel="stylesheet" type="text/css" />


<div class="page-header">
    <h1>Discover Your Perfect Stay!</h1>
    <p>Explore our exquisite selection of hotels tailored just for you.</p>
</div>
<hr />
<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <img src="@Url.Content(item.ImageUrl)" alt="@item.Name" class="card-image" />
            <div class="card-body">
                <p class="location-rating">
                    <strong>📍@Html.DisplayFor(modelItem => item.Location)</strong>
                    <strong>★@Html.DisplayFor(modelItem => item.Rating)</strong>
                </p>
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Title)</h6>
                <hr />
                <p class="card-text">
                    <strong>Available Rooms:</strong> @Html.DisplayFor(modelItem => item.AvailableRooms) <br />
                    <strong>Price Per Night:</strong> @Html.DisplayFor(modelItem => item.PricePerNight) ₺
                </p>
                <div class="card-actions">
                    <div class="button-group">
                        @if (item.AvailableRooms > 0)
                        {
                            @Html.ActionLink("Reservation", "Create", "Reservation", new { hotelId = item.Id }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            <span class="text-danger">No Available Rooms!</span>
                        }
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
