@model IEnumerable<Hotel_Reservation_System.Models.Hotel>

@{
    ViewBag.Title = "Hotels";
}
<link href="~/Content/css-folder/hotel/index-h.css" rel="stylesheet" type="text/css" />


<div class="page-header">
    <h1>Discover Your Perfect Stay!</h1>
    <p>Explore our exquisite selection of hotels tailored just for you.</p>
</div>
<hr />
<div class="card-container">
    @foreach (var item in Model)
    {
        <div class="card">
            <a href="@Url.Action("Details", "Hotel", new { id = item.Id })">
                <img src="@Url.Content(item.ImageUrl)" alt="@item.Name" class="card-image" />
            </a>
            <div class="card-body">
                <div class="location-rating">
                    @{
                        var locationParts = item.Location.Split(',');

                        string city = "Unknown City";
                        if (locationParts.Length >= 4)
                        {
                            city = locationParts[locationParts.Length - 4].Trim() + ", " + locationParts[locationParts.Length - 5].Trim();
                        }
                    }
                    <p class="location-area">📍@city</p>
                    <p class="rating-area">
                        @for (var i = 0; i < item.Rating; i++)
                        {
                            <span>★</span>
                        }
                    </p>
                </div>
                <h5 class="card-title"><a href="@Url.Action("Details", "Hotel", new { id = item.Id })">@item.Name</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Title)</h6>
                <hr />
                <div class="card-text">
                    <p class="available-rooms-area">Available Rooms: @Html.DisplayFor(modelItem => item.AvailableRooms) </p>
                    <p class="price-per-night-area"><del>@(item.PricePerNight + 100) ₺</del> @Html.DisplayFor(modelItem => item.PricePerNight) ₺</p>
                        <div class="subtitle-info">
                            <p>
                                Price for 1 night <br />
                                Taxes and fees included.
                            </p>
                        </div>
                </div>
                <div class="card-actions">
                    <div class="button-group">
                        @if (item.AvailableRooms > 0)
                        {
                            @Html.ActionLink("Reservation", "Details", "Hotel", new { id = item.Id }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            <span class="text-danger">No Available Rooms!</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
