@model Hotel_Reservation_System.Models.Customer

@{
    ViewBag.Title = "Delete Customer";
}

<link href="~/Content/css-folder/account/customer/delete-cus.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Delete", "Customer", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

<div class="delete-card">
    <div class="delete-action">
        <div class="line"></div>
        <div class="icon-container">
            <i class="fa-solid fa-trash-can"></i>
        </div>
        <div class="line"></div>
    </div>

    <h2>Delete Account?</h2>
    <h4>Are you sure you want to delete the customer named "@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)"?</h4>

    <div class="card">
        <div class="card-content">
            <div class="profile-picture">
                <img src="@Url.Content(Model.ImageUrl)" name="profilePicture" alt="Profile Picture" />
            </div>
            <div class="card-item">
                <div class="label-box">
                    <strong>First Name:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.FirstName)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Last Name:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.LastName)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Email:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.Email)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Password:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.Password)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Phone Number:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.Phone)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Country:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.Country)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>City:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.City)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Postal Code:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.PostalCode)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Full Address:</strong>
                </div>
                <div class="value-box">
                    <span>@Html.DisplayFor(model => model.Address)</span>
                </div>
            </div>

            <div class="card-item">
                <div class="label-box">
                    <strong>Last Edited Date:</strong>
                </div>
                <div class="value-box">
                    <span>@Model.EditedDate</span>
                </div>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-cancel" })
    </div>
</div>
}