@model Hotel_Reservation_System.Models.Customer

@{
    ViewBag.Title = "Customer Details";
}

<link href="~/Content/css-folder/account/customer/details-cus.css" rel="stylesheet" type="text/css" />

<div class="details-container">

    <div class="card">
        <div class="card-body-header">
            <div class="profile-picture">
                <img src="@Url.Content(Model.ImageUrl)" name="profilePicture" alt="Profile Picture" />
            </div>
            <div class="card-details">
                <div class="card-row-header">
                    <span class="full-name">@Model.FirstName @Model.LastName</span>
                </div>
                <div class="card-row-header">
                    <span class="role">Customer</span>
                </div>
                <div class="card-row-header">
                    <span class="role"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <span>Account Information</span>
            <a href="@Url.Action("Delete", "Customer", new { id = Model.Id })" class="btn-delete">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </div>
        <div class="card-body">
            <div class="card-row">
                <label>User Role</label>
                <span>Customer</span>
            </div>
            <div class="card-row">
                <label>Created Date</label>
                <span></span>
            </div>
            <div class="card-row">
                <label>Last Edited Date</label>
                <span>@Model.EditedDate</span>
            </div>
        </div>
    </div>

        <div class="card">
            <div class="card-header">
                <span>Personal Information</span>
                <a href="@Url.Action("Edit", "Customer", new { id = Model.Id })" class="btn btn-warning btn-edit-personal">
                    <i class="fas fa-edit"></i> Edit
                </a>
            </div>
            <div class="card-body">
                <div class="card-row">
                    <label>First Name</label>
                    <span>@Html.DisplayFor(model => model.FirstName)</span>
                </div>
                <div class="card-row">
                    <label>Last Name</label>
                    <span>@Html.DisplayFor(model => model.LastName)</span>
                </div>
                <div class="card-row">
                    <label>Phone Number</label>
                    <span>@Html.DisplayFor(model => model.Phone)</span>
                </div>
                <div class="card-row">
                    <label>E-mail</label>
                    <span>@Model.Email</span>
                </div>
                <div class="card-row">
                    <label>Password</label>
                    <span>@Model.Password</span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <span>Address Information</span>
                <a href="@Url.Action("Edit", "Customer", new { id = Model.Id })" class="btn btn-warning btn-edit-regular">
                    <i class="fas fa-edit"></i> Edit
                </a>
            </div>
            <div class="card-body">
                <div class="card-row">
                    <label>Country</label>
                    <span></span>
                </div>
                <div class="card-row">
                    <label>City</label>
                    <span></span>
                </div>
                <div class="card-row">
                    <label>Postal Code</label>
                    <span></span>
                </div>
            </div>
            <div class="card-body-address">
                <div class="card-row">
                    <label>Full Address</label>
                    <span>@Html.DisplayFor(model => model.Address)</span>
                </div>
            </div>
        </div>
    </div>