@model Hotel_Reservation_System.Models.Customer

@{
    ViewBag.Title = "Customer Details";
}

<link href="~/Content/css-folder/account/customer/details-c.css" rel="stylesheet" type="text/css" />

<div class="details-container">
    <h2>CUSTOMER DETAILS</h2>
    <h4>Showing detailed information of the admin named "@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)"!</h4>
    <hr />

    <div class="profile-picture">
        <img src="@Url.Content(Model.ImageUrl)" name="profilePicture" alt="Profile Picture" />
    </div>

    <table class="table table-bordered table-striped">
        <tr>
            <th>First Name</th>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <th>E-mail</th>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <th>Password</th>
            <td>@Html.DisplayFor(model => model.Password)</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Html.DisplayFor(model => model.Phone)</td>
        </tr>
        <tr>
            <th>Address</th>
            <td>@Html.DisplayFor(model => model.Address)</td>
        </tr>
        <tr>
            <th>Last Edited Date</th>
            <td>@Model.EditedDate</td>
        </tr>
    </table>

    <div class="actions">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
