@model IEnumerable<Hotel_Reservation_System.Models.Customer>

@{
    ViewBag.Title = "Customer List";
}

<link href="~/Content/css-folder/account/customer/index-cus.css" rel="stylesheet" type="text/css" />


<h2>CUSTOMER DASHBOARD</h2>

<div class="dashboard-cards">
    <div class="card card-app">
        <div class="card-content">
            <i class="fa-solid fa-calendar"></i>
            <p>Applications</p>
            <span>41 / 100</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 41%;"></div>
        </div>
    </div>
    <div class="card card-active-users">
        <div class="card-content">
            <i class="fa-solid fa-user"></i>
            <p>Active Users</p>
            <span>1 / @Model.Count()</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 4%;"></div>
        </div>
    </div>
    <div class="card card-transactions">
        <div class="card-content">
            <i class="fa-solid fa-arrows-alt"></i>
            <p>Transactions</p>
            <span>1</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 10%;"></div>
        </div>
    </div>
    <div class="card card-channels">
        <div class="card-content">
            <i class="fa-solid fa-globe"></i>
            <p>Channels</p>
            <span>9</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 90%;"></div>
        </div>
    </div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Edited Date</th>
            <th>Customer Settings</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @item.EditedDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
