<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROOMIFY - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/css-folder/layout/layout-cs.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="~/Content/images/logo/roomify-fav.png" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-white">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="~/Content/images/logo/roomify.png" alt="Hotel Logo" style="height: 35px; width: auto;">
            </a><button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UserId"] != null)
                    {
                        if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                        {
                            <li><a href="@Url.Action("Index", "Hotel")"><i class="fa-solid fa-hotel"></i> Hotels</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" onclick="toggleDropdown('listsDropdown')"><i class="fa-solid fa-list"></i> Lists</a>
                                <ul id="adminDropdown" class="dropdown-menu" style="display: none;">
                                    <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                    <li>@Html.ActionLink("Customer", "Index", "Customer")</li>
                                    <li>@Html.ActionLink("Hotel", "List", "Hotel")</li>
                                    <li>@Html.ActionLink("Room", "Index", "Room")</li>
                                    <li>@Html.ActionLink("Reservation", "List", "Reservation")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" onclick="toggleDropdown('createDropdown')"><i class="fa-solid fa-plus"></i> Create</a>
                                <ul id="createDropdown" class="dropdown-menu" style="display: none;">
                                    <li>@Html.ActionLink("Admin", "Create", "Admin")</li>
                                    <li>@Html.ActionLink("Customer", "Create", "Customer")</li>
                                    <li>@Html.ActionLink("Hotel", "Create", "Hotel")</li>
                                    <li>@Html.ActionLink("Room", "Create", "Room")</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" onclick="toggleDropdown('accountDropdown')"><i class="fa-solid fa-user"></i> @ViewBag.AdminName</a>
                                <ul id="accountDropdown" class="dropdown-menu" style="display: none;">
                                    <li class="user-container">
                                        <div class="user-info">
                                            <p class="user-name">Hello @ViewBag.AdminName,</p>
                                            <p class="user-email">@ViewBag.AdminEmail</p>
                                        </div>
                                    </li>
                                    <li>@Html.ActionLink("Settings", "Edit", "Admin", new { id = Session["UserId"] }, null)</li>
                                    <li class="logout"><a href="@Url.Action("Logout", "Account")"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "Hotel")"><i class="fa-solid fa-hotel"></i> Hotels</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" onclick="toggleDropdown('accountDropdown')"><i class="fa-solid fa-user"></i> @ViewBag.CustomerName</a>
                                <ul id="accountDropdown" class="dropdown-menu" style="display: none;">
                                    <li class="user-container">
                                        <div class="user-info">
                                            <p class="user-name">Hello @ViewBag.CustomerName,</p>
                                            <p class="user-email">@ViewBag.CustomerEmail</p>
                                        </div>
                                    </li>
                                    <li>@Html.ActionLink("Your account", "Settings", "Customer")</li>
                                    <li>@Html.ActionLink("Wishlist", "#", "#")</li>
                                    <li>@Html.ActionLink("Reservations", "Index", "Reservation")</li>
                                    <li>@Html.ActionLink("Help and support", "#", "#")</li>
                                    <li class="logout"><a href="@Url.Action("Logout", "Account")"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log out</a></li>
                                </ul>
                            </li>
                        }
                    }
                    else
                    {
                        <!-- Register Dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" onclick="toggleDropdown('registerDropdown')"><i class="fa-solid fa-user-plus"></i> Sign Up</a>
                            <ul id="registerDropdown" class="dropdown-menu" style="display: none;">
                                <li>@Html.ActionLink("Customer", "RegisterCustomer", "Account")</li>
                            </ul>
                        </li>

                        <!-- Login Dropdown -->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" onclick="toggleDropdown('loginDropdown')"><i class="fa-regular fa-user"></i> Log in</a>
                            <ul id="loginDropdown" class="dropdown-menu" style="display: none;">
                                <li>@Html.ActionLink("Admin", "LoginAdmin", "Account")</li>
                                <li>@Html.ActionLink("Customer", "LoginCustomer", "Account")</li>
                            </ul>
                        </li>
                    }
                </ul>


            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        
        <footer>

            <div class="footer-top">
                <h2>Get discounts instantly!</h2>
                <p>To save you just have to log in to your account and look for the experiences with the green or yellow color code. On your first reservation you can enjoy a <strong>10% discount.</strong></p>
                <div class="email-subscribe">
                    <input type="email" placeholder="Enter your email" />
                    <button>Get started</button>
                </div>
            </div>

            <div class="footer-section">
                <div>
                    <h4>Sign up for our newsletter</h4>
                    <p>Don't worry, we reserve our newsletter for important news so we only send a few updates a year.</p>
                </div>
                <div class="link-area">
                    <div>
                        <h4>Help and services</h4>
                        <p><a href="#">How does it work</a></p>
                        <p><a href="#">FAQs</a></p>
                        <p><a href="#">Contact</a></p>
                    </div>
                    <div>
                        <h4>To explore</h4>
                        <p><a href="#">Accommodations</a></p>
                        <p><a href="#">Experiences</a></p>
                        <p><a href="#">Blog</a></p>
                    </div>
                    <div>
                        <h4>Other possibilities</h4>
                        <p><a href="#">Give away</a></p>
                        <p><a href="#">Subscribe</a></p>
                    </div>
                </div>
            </div>

            <div class="download-buttons">
                <button>Subscribe</button>
                <a href="#"><img src="~/Content\images\icon/download-app-store-icon.png" alt="App-Store"></a>
                <a href="#"><img src="~/Content\images\icon/download-google-play-icon.png" alt="Google-Play"></a>
            </div>

            <!-- Alt Kısım: Telif Hakkı ve Sosyal Medya -->
            <div class="footer-bottom">
                <p>&copy; @DateTime.Now.Year - All rights reserved.</p>
                <div class="social-icons">
                    <a href="#"><img src="~/Content\images\icon/facebook-icon.png" alt="Facebook"></a>
                    <a href="#"><img src="~/Content\images\icon/x-icon.png" alt="Twitter"></a>
                    <a href="#"><img src="~/Content\images\icon/instagram-icon.png" alt="Instagram"></a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        // Dropdown tıklandığında açılacak
        document.querySelectorAll('.dropdown-toggle').forEach(function (dropdown) {
            dropdown.addEventListener('click', function (e) {
                e.stopPropagation();
                var menu = this.nextElementSibling;
                menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
            });
        });

        // Sayfanın başka bir yerine tıklandığında dropdown kapanacak
        document.addEventListener('click', function () {
            document.querySelectorAll('.dropdown-menu').forEach(function (menu) {
                menu.style.display = 'none';
            });
        });

        // Dropdown menünün içi tıklanırsa kapanmayı engelle
        document.querySelectorAll('.dropdown-menu').forEach(function (menu) {
            menu.addEventListener('click', function (e) {
                e.stopPropagation();
            });
        });
    });

</script>