<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROOMIFY - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("ROOMIFY", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                   
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (Session["UserId"] != null)
                    {

                        if (ViewBag.IsAdmin != null && (bool)ViewBag.IsAdmin)
                        {
                            <li>@Html.ActionLink("ADMIN LIST", "Index", "Admin")</li>
                            <li>@Html.ActionLink("CUSTOMER LIST", "Index", "Customer")</li>
                            <li>@Html.ActionLink("↪ LOG OUT", "Logout", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("HOTEL LIST", "Index", "Hotel")</li>
                            <li>@Html.ActionLink("↪ LOG OUT", "Logout", "Account")</li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("LOGIN ADMIN", "LoginAdmin", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("REGISTER ADMIN", "RegisterAdmin", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("LOGIN CUSTOMER", "LoginCustomer", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("REGISTER CUSTOMER", "RegisterCustomer", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>ROOMIFY &copy; @DateTime.Now.Year - All rights reserved.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
