@model Hotel_Reservation_System.Models.Admin

@{
    ViewBag.Title = "Create Admin";
}

<link href="~/Content/css-folder/account/admin/create-addd.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()



    <h2>ADMIN CREATE PANEL</h2>
    <h4>Enter admin details to start creating</h4>

    <p class="info-text">Personal Information</p>
    <hr />

    <div class="form-group row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Surname" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3">
            @Html.LabelFor(model => model.AreaCode, htmlAttributes: new { @class = "control-label" })
            <select id="AreaCode" name="AreaCode" class="form-control">
                <option value="" disabled selected>Select Area Code ⏷</option>
                @if (ViewBag.AreaCodeName != null)
                {
                    foreach (var areaCode in (List<string>)ViewBag.AreaCodeName)
                    {
                        <option value="@areaCode">@areaCode</option>
                    }
                }
                else
                {
                    <option value="" disabled>No area codes available</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.AreaCode, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-9">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Contact Phone Number" })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <p class="info-text">Account Information</p>
    <hr />

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail address" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.Label("Confirm Password*", new { @class = "control-label" })
            <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            @if (ViewBag.PasswordMismatch != null)
            {
                <span class="text-danger">@ViewBag.PasswordMismatch</span>
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="Create" class="btn btn-success" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger" })
        </div>
    </div>

}
