@model Hotel_Reservation_System.Models.Admin

@{
    ViewBag.Title = "Delete Admin";
}

<div>

    <h2>ADMIN DELETE</h2>
    <h4>Are you sure you want to delete "@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)" admin?</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd>
            @Model.CreatedDate.ToString("yyyy-MM-dd")
        </dd>
    </dl>
</div>

@using (Html.BeginForm("Delete", "Admin", FormMethod.Post, new { @class = "form-horizontal", @role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Cancel</a>

        </div>
    </div>
}
