@model Hotel_Reservation_System.Models.Admin

@{
    ViewBag.Title = "Admin Details";
}

<link href="~/Content/css-folder/account/admin/details-adm.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="details-container">

    <div class="card">
        <div class="card-header">
            <span>Account Information</span>
            <a href="@Url.Action("Delete", "Admin", new { id = Model.Id })" class="btn-delete">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        <div class="card-body">
            <div class="card-row">
                <label>User Role</label>
                <span>Admin</span>
            </div>
            <div class="card-row">
                <label>Created Date</label>
                <span>@Model.CreatedDate</span>
            </div>
            <div class="card-row">
                <label>Last Edited Date</label>
                <span>@Model.EditedDate</span>
            </div>
        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <span>Personal Information</span>
            <a href="@Url.Action("Edit", "Admin", new { id = Model.Id })" class="btn btn-warning btn-edit-personal">
                <i class="fas fa-edit"></i> Edit
            </a>
        </div>
        <div class="card-body">
            <div class="card-row">
                <label>First Name</label>
                <span>@Html.DisplayFor(model => model.FirstName)</span>
            </div>
            <div class="card-row">
                <label>Last Name</label>
                <span>@Html.DisplayFor(model => model.LastName)</span>
            </div>
            <div class="card-row">
                <label>Phone Number</label>
                <span>@Html.DisplayFor(model => model.Phone)</span>
            </div>
            <div class="card-row">
                <label>E-mail</label>
                <span>@Model.Email</span>
            </div>
            <div class="card-row">
                <label>Password</label>
                <span>@Model.Password</span>
            </div>
        </div>
    </div>
</div>
