@model IEnumerable<Hotel_Reservation_System.Models.Admin>

@{
    ViewBag.Title = "Admin List";
}

<link href="~/Content/css-folder/account/admin/index-ad.css" rel="stylesheet" type="text/css" />

<h2>ADMIN DASHBOARD</h2>

<div class="dashboard-cards">
    <div class="card card-app">
        <div class="card-content">
            <i class="fa-solid fa-calendar"></i>
            <p>Applications</p>
            <span>41 / 100</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 41%;"></div>
        </div>
    </div>
    <div class="card card-active-users">
        <div class="card-content">
            <i class="fa-solid fa-user"></i>
            <p>Active Users</p>
            <span>1 / @Model.Count()</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 4%;"></div>
        </div>
    </div>
    <div class="card card-transactions">
        <div class="card-content">
            <i class="fa-solid fa-arrows-alt"></i>
            <p>Transactions</p>
            <span>1</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 10%;"></div>
        </div>
    </div>
    <div class="card card-channels">
        <div class="card-content">
            <i class="fa-solid fa-globe"></i>
            <p>Channels</p>
            <span>9</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 90%;"></div>
        </div>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Created Date
            </th>
            <th>
                Edited Date
            </th>
            <th>
                Admin Settings
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 1;
        }
        @foreach (var admin in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.Email)
                </td>
                <td>
                    @admin.CreatedDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @admin.EditedDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = admin.Id }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = admin.Id }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = admin.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>