@model IEnumerable<Hotel_Reservation_System.Models.Admin>

@{
    ViewBag.Title = "Admin List";
}

<link href="~/Content/css-folder/account/admin/index.css" rel="stylesheet" type="text/css" />

<h2>ADMIN DASHBOARD</h2>
<hr />

@Html.ActionLink("Create New Admin", "Create", null, new { @class = "btn btn-primary" })
@Html.ActionLink("Create New Customer", "Create", "Customer", null, new { @class = "btn btn-danger" })
@Html.ActionLink("Create New Hotel", "Create", "Hotel", null, new { @class = "btn btn-danger" })

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                E-mail
            </th>
            <th>
                Created Date
            </th>
            <th>
                Edited Date
            </th>
            <th>
                Admin Settings
            </th>
        </tr>
    </thead>
    <tbody>
         @{
             int count = 1;
         } 
        @foreach (var admin in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => admin.Email)
                </td>
                <td>@admin.CreatedDate.ToString("yyyy-MM-dd")</td>
                <td>@admin.EditedDate.ToString("yyyy-MM-dd")</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = admin.Id }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = admin.Id }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = admin.Id }, new { @class = "btn btn-danger btn-sm" })
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>