@model IEnumerable<Hotel_Reservation_System.Models.Hotel>

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css-folder/home-page/index-hom.css" rel="stylesheet" type="text/css" />

<div class="homepage-container">
    <h3>Save up to 40% on your next hotel stay!</h3>
    <p>We compare hotel prices from 100s of sites</p>

    <!-- Price filter range -->
    <div class="price-filter">
        <span class="price-before">0.00 ₺</span>
        <input type="range" id="priceRange" min="0" max="9999" step="1" value="0" oninput="updatePriceRange()" style="width: 100%;">
        <span class="price-after" id="priceLabel">9999.00 ₺</span>
        <button onclick="filterByPrice()">Filter by Price</button>
    </div>

    <!-- Filter area -->
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Where to?" oninput="toggleSearchButton()" />

        <input type="date" id="checkinDate" placeholder="Check-in Date" min="" onchange="validateDates()" />
        <input type="date" id="checkoutDate" placeholder="Check-out Date" min="" onchange="validateDates()" />

        <div class="guest-dropdown">
            <button type="button" id="guestButton" onclick="toggleGuestDropdown()"><span id="guestCount">1 Adult, 0 Child, 1 Room 🡇</span></button>
            <div class="guest-dropdown-content" id="guestDropdown" style="display: none;">
                <div class="guest-type">
                    <span>Adults</span>
                    <button type="button" onclick="decrement('adultCount')">-</button>
                    <span id="adultCount">1</span>
                    <button type="button" onclick="increment('adultCount')">+</button>
                </div>
                <div class="guest-type">
                    <span>Children</span>
                    <button type="button" onclick="decrement('childCount')">-</button>
                    <span id="childCount">0</span>
                    <button type="button" onclick="increment('childCount')">+</button>
                </div>
                <div class="guest-type">
                    <span>Rooms</span>
                    <button type="button" onclick="decrement('roomCount')">-</button>
                    <span id="roomCount">1</span>
                    <button type="button" onclick="increment('roomCount')">+</button>
                </div>
            </div>
        </div>

        <button id="searchButton" onclick="filterHotels()" disabled>Search</button>

        <div class="loading-area" id="loadingMessage" style="display: none;">
            <img src="@Url.Content("~/Content/images/icon/loading.gif")" alt="Loading..." />
            <p>Loading...</p>
        </div>
    </div>

    <!-- Errors -->
    <p id="notFoundMessage" style="display: none; text-align: center; font-weight: bold; color: #F92F60;">❌ Oops! The hotel you are looking for could not be found.</p>
    <p id="errorMessage" style="display: none; text-align: center; font-weight: bold; color: #F92F60;">❗️Check-out date cannot be earlier than or the same as check-in date!</p>

    <div class="partner-logos">
        <a href="#" class="logo">
            <img src="@Url.Content("~/Content/images/partners/booking.png")" alt="Booking.com" />
        </a>
        <a href="#" class="logo">
            <img src="@Url.Content("~/Content/images/partners/expedia.png")" alt="Expedia" />
        </a>
        <a href="#" class="logo">
            <img src="@Url.Content("~/Content/images/partners/hotels.png")" alt="Hotels.com" />
        </a>
        <a href="#" class="logo">
            <img src="@Url.Content("~/Content/images/partners/vrbo.png")" alt="Vrbo" />
        </a>
        <a href="#" class="logo">
            <img src="@Url.Content("~/Content/images/partners/accor.png")" alt="Accor" />
        </a>
        <a href="#" class="logo">
            <img src="@Url.Content("~/Content/images/partners/trip.png")" alt="Trip.com" />
        </a>
        <a href="#" class="logo">
            <img src="@Url.Content("~/Content/images/partners/priceline.png")" alt="Priceline" />
        </a>
        <span class="more">+100s more</span>
    </div>




    <div class="hotel-list" id="hotelList">
        @foreach (var hotel in Model)
        {
            <div class="hotel-card" data-name="@hotel.Name @hotel.Title @hotel.Location" data-price="@hotel.PricePerNight">
                <a href="@Url.Action("Details", "Hotel", new { id = hotel.Id })">
                    <img src="@Url.Content(hotel.ImageUrl)" alt="@hotel.Name" class="hotel-image" />
                </a>
                <div class="hotel-info">
                    <div class="name-rating">
                        <h2><a href="@Url.Action("Details", "Hotel", new { id = hotel.Id })">@hotel.Name</a></h2>
                        <p>
                            @for (var i = 0; i < hotel.Rating; i++)
                            {
                                <span>★</span>
                            }
                        </p>
                    </div>
                    <div class="title-area">
                        <p>@hotel.Title</p>
                    </div>
                    <div class="location-area">
                        @{
                            var locationParts = hotel.Location.Split(',');

                            string city = "Unknown City";
                            if (locationParts.Length >= 4)
                            {
                                city = locationParts[locationParts.Length - 4].Trim() + ", " + locationParts[locationParts.Length - 5].Trim();
                            }
                        }
                        <p>📍@city</p>
                    </div>
                    <hr />

                    <p><strong>Available Rooms:</strong> @hotel.AvailableRooms</p>
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 price-info">
                            <p><del>@(hotel.PricePerNight + 100) ₺</del> @hotel.PricePerNight ₺</p>
                            <div class="text-right">
                                <div class="subtitle-info">
                                    <p>
                                        Price for 1 night <br />
                                        Taxes and fees included.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    let searchTimeout;

    // search filter
    function filterHotels() {
        clearTimeout(searchTimeout);

        document.getElementById("loadingMessage").style.display = "block";

        searchTimeout = setTimeout(() => {
            var input = document.getElementById("searchInput").value.trim().toLowerCase();
            var hotelCards = document.getElementsByClassName("hotel-card");
            var checkinDate = new Date(document.getElementById("checkinDate").value);
            var checkoutDate = new Date(document.getElementById("checkoutDate").value);
            var adultCount = parseInt(document.getElementById("adultCount").textContent) || 1;
            var childCount = parseInt(document.getElementById("childCount").textContent) || 0;
            var roomCount = parseInt(document.getElementById("roomCount").textContent) || 1;

            let foundAny = false;

            var dayDifference = Math.max(
                (checkoutDate - checkinDate) / (1000 * 60 * 60 * 24),
                0
            );

            for (var i = 0; i < hotelCards.length; i++) {
                var hotelName = hotelCards[i].getAttribute("data-name").toLowerCase();
                var pricePerNight = parseFloat(hotelCards[i].getAttribute("data-price")) || 0;

                var totalPrice =
                    dayDifference *
                    pricePerNight *
                    (adultCount + childCount) *
                    roomCount;

                if (hotelName.includes(input)) {
                    hotelCards[i].style.display = "flex";
                    foundAny = true;

                    var subtitleInfo = hotelCards[i].querySelector(".subtitle-info p");
                    if (subtitleInfo) {
                        subtitleInfo.innerHTML = `
                        Price for ${dayDifference} night(s): <strong>${totalPrice.toFixed(2)} ₺</strong><br />
                        Taxes and fees included.
                    `;
                    }
                } else {
                    hotelCards[i].style.display = "none";
                }
            }

            document.getElementById("loadingMessage").style.display = "none";

            if (!foundAny) {
                document.getElementById("notFoundMessage").style.display = "block";
            } else {
                document.getElementById("notFoundMessage").style.display = "none";
            }
        }, 2500);
    }


    function toggleSearchButton() {
        const input = document.getElementById("searchInput").value.trim();
        const checkinDate = document.getElementById("checkinDate").value;
        const checkoutDate = document.getElementById("checkoutDate").value;
        const searchButton = document.getElementById("searchButton");

        searchButton.disabled = input === "" || !checkinDate || !checkoutDate;
    }

    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("searchInput").addEventListener("input", toggleSearchButton);
        document.getElementById("checkinDate").addEventListener("change", toggleSearchButton);
        document.getElementById("checkoutDate").addEventListener("change", toggleSearchButton);
        toggleSearchButton();

        const today = new Date().toISOString().split('T')[0];
        const checkinDate = document.getElementById("checkinDate");
        const checkoutDate = document.getElementById("checkoutDate");

        checkinDate.min = today;
        checkoutDate.min = today;
    });

    function validateDates() {
        const checkinDateValue = document.getElementById("checkinDate").value;
        const checkoutDateValue = document.getElementById("checkoutDate").value;
        const errorMessage = document.getElementById("errorMessage");

        if (checkinDateValue && checkoutDateValue) {
            const checkinDate = new Date(checkinDateValue);
            const checkoutDate = new Date(checkoutDateValue);

            if (checkoutDate <= checkinDate) {
                errorMessage.style.display = "block";
                document.getElementById("checkoutDate").value = "";
            }else {
                errorMessage.style.display = "none";
            }
        }
    }

    // price range filter
    let priceRange = document.getElementById("priceRange");
    let priceLabel = document.getElementById("priceLabel");

    function updatePriceRange() {
        const range = document.getElementById("priceRange");
        const priceLabel = document.getElementById("priceLabel");

        const value = parseFloat(range.value);
        const max = parseFloat(range.max);

        const percentage = (value / max) * 100;

        range.style.background = `linear-gradient(to right, #4CAF50 ${percentage}%, #ddd ${percentage}%)`;

        priceLabel.textContent = `${value.toFixed(2)} ₺`;
    }

    function filterByPrice() {
        clearTimeout(searchTimeout);

        document.getElementById("loadingMessage").style.display = "block";

        searchTimeout = setTimeout(() => {
            let maxPrice = parseFloat(priceRange.value) || Infinity;
            let minPrice = 0;
            var hotelCards = document.getElementsByClassName("hotel-card");
            let foundAny = false;

            for (var i = 0; i < hotelCards.length; i++) {
                var hotelPrice = parseFloat(hotelCards[i].getAttribute("data-price"));
                if (hotelPrice >= minPrice && hotelPrice <= maxPrice) {
                    hotelCards[i].style.display = "flex";
                    foundAny = true;
                } else {
                    hotelCards[i].style.display = "none";
                }
            }

            document.getElementById("loadingMessage").style.display = "none";

            if (!foundAny) {
                document.getElementById("notFoundMessage").style.display = "block";
            } else {
                document.getElementById("notFoundMessage").style.display = "none";
            }
        }, 2500);
    }


    //adults - children - rooms buttons
    function toggleGuestDropdown() {
        var dropdown = document.getElementById("guestDropdown");
        dropdown.style.display = dropdown.style.display === "none" ? "block" : "none";
    }


    function increment(id) {
        var count = document.getElementById(id);
        count.innerText = parseInt(count.innerText) + 1;
        updateGuestCount();
    }

    function decrement(id) {
        var count = document.getElementById(id);
        if (parseInt(count.innerText) > 0) {
            count.innerText = parseInt(count.innerText) - 1;
            updateGuestCount();
        }
    }

    function updateGuestCount() {
        var adults = document.getElementById("adultCount").innerText;
        var children = document.getElementById("childCount").innerText;
        var rooms = document.getElementById("roomCount").innerText;
        document.getElementById("guestCount").innerText = `${adults} Adult${adults > 1 ? 's' : ''}, ${children} Child${children > 1 ? 'ren' : ''}, ${rooms} Room${rooms > 1 ? 's' : ''}`;
    }


</script>




