@model IEnumerable<Hotel_Reservation_System.Models.Reservation>
@using Hotel_Reservation_System.Models

@{
    ViewBag.Title = "Reservation List";
}

<link href="~/Content/css-folder/reservation/list-re.css" rel="stylesheet" type="text/css" />

<h2>RESERVATION DASHBOARD</h2>

<div class="dashboard-cards">
    <div class="card card-app">
        <div class="card-content">
            <i class="fa-solid fa-calendar"></i>
            <p>Total Reservations</p>
            <span>@Model.Count()</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 41%;"></div>
        </div>
    </div>
    <div class="card card-active-users">
        <div class="card-content">
            <i class="fa-solid fa-check"></i>
            <p>Confirmed</p>
            <span>@Model.Count(r => r.Status == ReservationStatus.Confirmed)</span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 4%;"></div>
        </div>
    </div>
    <div class="card card-transactions">
        <div class="card-content">
            <i class="fa-solid fa-spinner"></i>
            <p>Pending</p>
            <span>
                @Model.Count(r => r.Status == ReservationStatus.Pending)
            </span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 10%;"></div>
        </div>
    </div>
    <div class="card card-channels">
        <div class="card-content">
            <i class="fa-solid fa-ban"></i>
            <p>Cancelled</p>
            <span>
                @Model.Count(r => r.Status == ReservationStatus.Cancelled)
            </span>
        </div>
        <div class="progress-bar">
            <div class="progress" style="width: 90%;"></div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Hotel</th>
            <th>Room</th>
            <th>Guests</th>
            <th>Total Price</th>
            <th>Status</th>
            <th>Reservation Actions</th>
        </tr>
    </thead>
    <tbody class="variable">
        @{
            int count = 1;
        }
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@count</td>
                <td><strong>@reservation.Customer.FirstName @reservation.Customer.LastName</strong></td>
                <td>@reservation.Room.Hotel.Name</td>
                <td>@reservation.Room.Type</td>
                <td>@reservation.NumberOfGuests</td>
                <td class="total-price">@(reservation.Room.PricePerNight * @reservation.NumberOfGuests * (decimal)(reservation.CheckOutDate - reservation.CheckInDate).TotalDays) ₺</td>
                <td class="status-label @(reservation.Status == ReservationStatus.Confirmed ? "status-confirmed" : reservation.Status == ReservationStatus.Cancelled ? "status-cancelled" : "status-pending")">
                    @reservation.Status
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = reservation.Id }, new { @class = "btn btn-info btn-sm" })
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
