@model Hotel_Reservation_System.Models.Customer

@{
    ViewBag.Title = "Register Customer";
}

<link href="~/Content/css-folder/account/customer/registercustomer-c.css" rel="stylesheet" type="text/css" />


@using (Html.BeginForm("RegisterCustomer", "Account", FormMethod.Post, new { @class = "form-horizontal", @role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2>SIGN UP CUSTOMER</h2>
    <h4>Please enter your information correctly!</h4>
    <hr />
    <h6>* are required areas!</h6>
    <br />

    <div class="section profile-section">
        <div class="profile-picture">
            <div class="form-group">
                @Html.LabelFor(model => model.ImageUrl, htmlAttributes: new { @class = "control-label col-md-6" })
                <input type="file" name="profilePicture" class="form-control" />
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="profile-info">
            <p>Upload Profile Photo</p>
            <span>PNG, JPEG under 15MB</span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.FirstName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
            @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
            @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.LabelFor(m => m.Phone, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Please put '0' in front." })
            @Html.ValidationMessageFor(m => m.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6">
            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-6">
            @Html.Label("Confirm Password*", new { @class = "control-label" })
            <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
            @if (ViewBag.PasswordMismatch != null)
            {
                <span class="text-danger">@ViewBag.PasswordMismatch</span>
            }
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4">
            @Html.LabelFor(m => m.Country, new { @class = "control-label" })
            <select id="Country" name="Country" class="form-control">
                <option value="" disabled selected>Select Country ⏷</option>
                @if (ViewBag.CountryName != null)
                {
                    foreach (var country in (List<string>)ViewBag.CountryName)
                    {
                        <option value="@country">@country</option>
                    }
                }
                else
                {
                    <option value="" disabled>No countries available</option>
                }
            </select>
            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(m => m.City, new { @class = "control-label" })
            <select id="City" name="City" class="form-control">
                <option value="" disabled selected>Select City ⏷</option>
                @if (ViewBag.CityName != null && ((List<string>)ViewBag.CityName).Count > 0)
                {
                    foreach (var city in (List<string>)ViewBag.CityName)
                    {
                        <option value="@city">@city</option>
                    }
                }
                else
                {
                    <option value="" disabled>No cities available</option>
                }
            </select>
            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
        </div>

        <div class="col-md-4">
            @Html.LabelFor(m => m.PostalCode, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "Postal Code" })
            @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-12" })
        <div class="col-md-12">
            @Html.TextAreaFor(m => m.Address, new { @class = "form-control address-textarea", placeholder = "Address", rows = 3 })
            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Register" class="btn btn-success" />
        </div>
    </div>
    <hr />
    <p class="text-left">Already have an account? @Html.ActionLink("Sign In", "LoginCustomer")</p>

}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#Country').change(function () {
            var selectedCountry = $(this).val(); // Seçilen ülkeyi al

            if (selectedCountry) {
                $.ajax({
                    url: '@Url.Action("GetCitiesByCountry", "Customer")',
                    type: 'GET',
                    data: { countryName: selectedCountry },
                    success: function (cities) {
                        // Şehir dropdown'ını temizle
                        $('#City').empty();
                        $('#City').append('<option value="" disabled selected>Select City ⏷</option>');

                        // Gelen şehirleri dropdown'a ekle
                        $.each(cities, function (index, city) {
                            $('#City').append('<option value="' + city + '">' + city + '</option>');
                        });
                    },
                    error: function () {
                        alert('Failed to retrieve cities. Please try again.');
                    }
                });
            } else {
                // Eğer hiçbir ülke seçilmediyse, şehir dropdown'ını temizle
                $('#City').empty();
                $('#City').append('<option value="" disabled selected>Select City ⏷</option>');
            }
        });
    });
</script>